/**************************/
/* Contact SECTION */
/**************************/

.section-hero {
  padding: 10rem 20rem;
  background-color: #fff;
}

.hero {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.hero-text-box {
  background-color: #fff;
}

.hero-connect {
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.6;
  margin-bottom: 2.8rem;
  color: #151515;
}
.hero-connect-2 {
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 1.6;
  margin-bottom: 2.8rem;
  color: #151515;
}

.form-contact {
  margin-top: 6rem;
}

.contact-form-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: left;
}

.contact-form-container div {
  padding: 2rem 4rem 2rem 0;
}

.contact-form-container input {
  border: 1px #000;
  border-bottom: 1px solid #868686;
  padding-left: 0;
  font-size: 18px;
  width: 100%;
  height: 38px;
  color: #333;
  outline: none;
  margin-bottom: 10px;
  padding: 8px 12px;
  font-size: 2rem;
  line-height: 1.42857;
  display: block;
}

.message {
  grid-column: 1/4;
}

.message textarea {
  width: 100%;
  height: 20rem;
  color: #333;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 8px 12px;
  font-size: 1.6rem;
  line-height: 1.42857;
  outline: none;
  font-family: "Poppins", sans-serif;
}

/* for button */
.btnContact,
.btnContact:link,
.btnContact:visited {
  display: inline-block;

  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.3s;
}

.btnContact--full:link,
.btnContact--full:visited {
  border: 2px solid #b5f145;
  color: #151515;
  transition: all 0.3s;
}

.btnContact--full:hover,
.btnContact--full:active {
  background-color: #b5f145;
  color: #fff;
}

.hidden-animation {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(100%);
  transition: all 0.7s ease-in-out;
}

.show-animation {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}

.hero-connect-2 a {
  text-decoration: none;
  color: #151515;
}

.map-container {
  padding: 8rem 5rem;
  max-width: 140rem;
  margin: 0 auto;
  min-height: 60rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 2rem;
  color: #151515;
}

.address {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 2rem;
  font-size: 1.8rem;
  line-height: 1.2;
}

.location {
  width: 10%;
}
.office {
  font-weight: 700;
  font-size: 4rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

#map {
  flex: 1;
  height: 100%;
  background-color: var(--color-light--1);
}

.map-link {
  text-decoration: none;
  color: #151515;
  font-size: 0.8rem;
}

/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/

@media (max-width: 84em) {
}

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/

@media (max-width: 75em) {
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
}

/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/

@media (max-width: 44em) {
  .section-hero {
    padding: 4rem 10rem;
    background-color: #fff;
  }

  .contact-form-container {
    grid-template-columns: 1fr;
  }
  .message {
    grid-column: 1;
  }
}

/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {
}
