.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #000;
  z-index: 119999;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.loader-container {
  position: absolute;
  transform: translateX(-40%);
  transform: translateY(-40%);
  left: 45%;
  top: 50%;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.roller {
  height: 40px;
  width: 100px;
  border-radius: 7px;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #fff),
    color-stop(80%, #fff),
    color-stop(80%, #fff)
  );
  background-image: -o-linear-gradient(top, #fff 0, #fff 80%, #ffff 80%);
  background-image: linear-gradient(to bottom, #fff 0, #fff 80%, #fff 80%);
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  -webkit-animation: roller 2s infinite;
  animation: roller 2s infinite;
}
@-webkit-keyframes roller {
  40% {
    top: 105px;
  }
}
@keyframes roller {
  40% {
    top: 105px;
  }
}
.roller:before {
  position: absolute;
  content: "";
  /* background-color: #111; */
  height: 7px;
  width: 75px;
  top: 8px;
  left: 8px;
  border-radius: 10px;
}
.roller:after {
  position: absolute;
  content: "";
  height: 40px;
  width: 85px;
  border: 7px solid #fff;
  border-left: none;
  right: -20px;
  top: 20px;
  z-index: -1;
  border-radius: 7px;
}
.handle {
  height: 30px;
  width: 7px;
  background-color: #fff;
  position: absolute;
  top: 68px;
  right: 65px;
}
.handle:after {
  position: absolute;
  content: "";
  height: 75px;
  width: 25px;
  background-color: #fff;
  bottom: -75px;
  right: -8px;
  border-radius: 5px;
}
.paint {
  background-color: #b5f145;
  height: 0;
  width: 100px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  z-index: -1;
  -webkit-animation: paint 2s infinite;
  animation: paint 2s infinite;
}
@-webkit-keyframes paint {
  40% {
    height: 105px;
  }
}
@keyframes paint {
  40% {
    height: 105px;
  }
}

@media (max-width: 44em) {
  .loader-container {
    left: 25% !important;
    top: 50% !important;
  }
}
