.diamondbg {
  min-height: 100vh;
  background-image: url("../img/plan/planbg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
}

.goldbg {
  min-height: 100vh;
  background-image: url("../img/plan/golbg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
}

.platbg {
  min-height: 100vh;
  background-image: url("../img/plan/platbg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
}

.border-service {
  margin-top: 2rem;
  font-size: 2rem;
  border: 3px solid #fff;
  padding: 1.2rem;
  border-radius: 1rem;
  display: inline-block;
}

a {
  text-decoration: none;
  color: #fff;
}

.plan-container {
  max-width: 140rem;
  margin: 0 auto;
  padding: 4rem;
  padding-bottom: 0;
  font-size: 3rem;
}

.arrow-container {
  cursor: pointer;
  border: #fff solid 2px;
  display: inline-block;
  padding: 1rem;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  position: absolute;
  left: 4rem;
  top: 4rem;
}

.icon-container {
  width: 6rem;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 4rem;
  margin-right: 4rem;

  > img {
    width: 100%;
  }
}

.plan-info {
  padding: 0 20rem;
  padding-bottom: 0;
  /* margin-top: 2rem; */
  font-size: 4rem;
}

.main-title {
  color: #b5f145;
  font-size: 5rem;
  font-weight: 500;
  color: #fff;
}

.diamond {
  background: url(../img/diamond.jpg) no-repeat center center;
  background-size: cover;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.platinum {
  background: url(../img/platinum.jpg) no-repeat center center;
  background-size: cover;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.gold {
  background: url(../img/gold.jpg) no-repeat center center;
  background-size: cover;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.main-detail {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 1.4rem;
  margin-top: 4rem;
  column-gap: 5em;
  row-gap: 4rem;
}

.sub-title {
  font-size: 2rem;
  font-weight: 100;
  letter-spacing: 0.2px;
}

.detail {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  line-height: 1.2;

  > img {
    width: 24%;
  }
}

.book-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50rem;
}

.button {
  position: absolute;
  right: 0;
  bottom: 6rem;
  margin-right: 4rem;
}

.book {
  color: #151515;
}

.button a {
  font-size: 1.8rem;
  padding: 1.2rem 2rem;
  background-color: #b5f145;
  border: 1px;
  border-radius: 1rem;
}

@media (max-width: 44em) {
  .main-detail {
    grid-template-columns: 1fr;
    place-items: center;
    padding-bottom: 4rem;
  }

  .icon-container {
    > img {
      width: 80%;
    }
  }

  .border-service {
    margin-bottom: 2rem;
  }

  .plan-info {
    padding-right: 0;
    padding: 12rem 0;
  }

  .plan-container {
    text-align: center;
  }

  .button {
    bottom: 4rem;
    margin: 0 auto;
    right: 0;
    left: 0;
  }

  .main-title,
  .plan-info {
    font-size: 4rem;
    margin: 0 auto;
  }

  .detail {
    display: grid;
    grid-template-columns: 1fr 2fr;
    place-items: center;
    gap: 1rem;
    > img {
      width: 100%;
    }
  }
}
