@media (max-width: 75em) {
  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }

  .heading-secondary {
    font-size: 3.6rem;
  }

  .heading-tertiary {
    font-size: 2.4rem;
  }

  .hero {
    gap: 4.8rem;
  }

  .testimonials-container {
    padding: 9.6rem 3.2rem;
  }

  .hero-img-container {
    width: 90rem;
    top: 17rem;
    left: 1;
    right: -4rem;
    bottom: 1;
    z-index: 1;
  }
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
  .hero-img {
    width: 60%;
  }

  .delivered-meals {
    justify-content: center;
    margin-top: 3.2rem;
  }

  .logos img {
    height: 2.4rem;
  }

  .step-number {
    font-size: 7.4rem;
  }

  .meal-content {
    padding: 2.4rem 3.2rem 3.2rem 3.2rem;
  }

  .section-testimonials {
    grid-template-columns: 1fr;
  }

  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }

  .cta {
    /* 3/5 = 60% + 2/5 = 40% */
    grid-template-columns: 3fr 2fr;
  }

  .cta-form {
    grid-template-columns: 1fr;
  }

  .btn--form {
    margin-top: 1.2rem;
  }

  .hero-img-container,
  .service-hero-img-container {
    display: none;
  }
}

/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/

@media (max-width: 44em) {
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid--1-2-cols {
    grid-template-columns: 1fr;
  }

  .fourth-service {
    grid-column: 1;
  }

  .brochure-grid {
    grid-template-columns: 1fr;
    row-gap: 20rem;
    text-align: center;
  }

  .diets {
    grid-column: 1 / -1;
    justify-self: center;
  }

  .heading-secondary {
    margin-bottom: 4.8rem;
  }

  .pricing-plan {
    width: 100%;
  }

  .logo-col,
  .address-col {
    grid-column: span 3;
  }

  .nav-col {
    grid-row: 1;
    grid-column: span 2;
    margin-bottom: 3.2rem;
  }

  .cta {
    grid-template-columns: 1fr;
  }

  .cta-text-box {
    padding: 3.2rem;
  }

  .feature img {
    width: 50%;
  }

  .section-top-service {
    grid-template-columns: 4fr 1fr;
  }

  .main-video-grid {
    text-align: center;
    grid-template-columns: 1fr;
    row-gap: 10rem;
    place-content: center;
  }

  .cta-second {
    grid-template-columns: 1fr;
  }

  .form-bubble-container {
    display: none;
  }

  .form-percent-container {
    grid-template-columns: 1fr;
    row-gap: 6rem;
  }

  .feature {
    padding: 4rem 0 4rem 0;
  }

  .feature-text {
    font-size: 4rem;
  }

  .slide {
    margin-left: 12rem;
    margin-right: 12rem;
  }

  .grid-service {
    row-gap: 2rem;
  }

  .slide:nth-child(2),
  .slide:nth-child(3),
  .slide:nth-child(4),
  .slide:nth-child(5) {
    transition-delay: 0;
  }
}

/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {
  .grid {
    row-gap: 4.8rem;
  }

  .feature-text {
    font-size: 2.2rem !important;
  }

  .grid--2-cols,
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: 1fr;
  }

  .grid--5-cols {
    grid-template-columns: 1fr;
  }

  .btn,
  .btn:link,
  .btn:visited {
    padding: 2.4rem 1.6rem;
  }

  .hero-img {
    width: 80%;
  }

  .logos img {
    height: 1.2rem;
  }

  .step-img-box:nth-child(2) {
    grid-row: 1;
  }

  .step-img-box:nth-child(6) {
    grid-row: 5;
  }

  .step-img-box {
    transform: translateY(2.4rem);
  }

  .testimonials {
    grid-template-columns: 1fr;
  }

  .gallery {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;
  }

  .cta {
    grid-template-columns: 1fr;
  }

  .cta-text-box {
    padding: 3.2rem;
  }

  .cta-img-box {
    height: 32rem;
    grid-row: 1;
  }

  .feature img {
    width: 50%;
  }

  .section-top-service {
    grid-template-columns: 4fr 1fr;
  }

  .main-video-grid {
    text-align: center;
    grid-template-columns: 1fr;
    row-gap: 10rem;
    place-content: center;
  }

  .cta-second {
    grid-template-columns: 1fr;
  }

  .form-bubble-container {
    display: none;
  }

  .form-percent-container {
    grid-template-columns: 1fr;
    row-gap: 6rem;
  }

  .footer-logo-container {
    grid-template-columns: 1fr;
    row-gap: 4rem;
  }

  .feature {
    padding: 4rem 0 4rem 0;
  }

  .feature-text {
    font-size: 4rem;
  }

  .slide {
    margin-left: 12rem;
    margin-right: 12rem;
  }

  .grid-service {
    row-gap: 2rem;
  }

  .slide:nth-child(2),
  .slide:nth-child(3),
  .slide:nth-child(4),
  .slide:nth-child(5) {
    transition-delay: 0;
  }

  .grid-2fr {
    grid-template-columns: 1fr !important;
    position: relative !important;
  }

  .display-flex {
    row-gap: 80rem !important;
  }

  .image-container {
    position: absolute !important;
    max-width: 280px !important;
    top: 22rem;
    left: 18px;
  }

  .service-number {
    padding-right: 48rem !important;
  }

  .service-image-first {
    max-width: 100% !important;
  }

  .individual-service-heading-container {
    padding: 6rem !important;
  }
}

/* 
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/**************************/
/* Fixing Safari flexbox gap */
/**************************/
